* {
  margin: 0;
  padding: 0
}

html {
  scroll-behavior: smooth;
  font-family: Futura, Roboto, Nunito, sans-serif
}

a:link,
a:visited {
  color: #373737;
  text-decoration: none;
  transition: color 0.5s
}

a:hover,
a:active {
  color: #777777
}

#navbar {
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #737373;
  list-style: none;
  padding: 8px
}

#navbar ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px;
  width: 128px;
  height: 24px;
  color: #373737;
  background: silver;
  text-align: center
}

#navbar a {
  flex: 1 0 auto
}

section {
  min-height: 100vh
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #778899 25%, #809070)
}

#welcome-section img {
  margin: 16px;
  height: auto;
  max-width: 240px;
  border: 2px #333333 solid;
  border-radius: 8px;
  overflow: hidden;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #809070 25%, #b7850b)
}

#skills h2 {
  margin: 8px auto;
  text-align: center
}
#skills h3 {
  margin: 8px auto;
  text-align: center
}

#skills h4 {
  margin: 0 auto;
  text-align: center
}

#skills div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 600px;
}

#skills ul {
  margin: 8px;
  padding: 4px 16px;
  min-height: 192px;
  width: 240px;
  background-color: #DFDFDF;
  border: 2px #777777 solid;
  border-radius: 12px;
  list-style: none;
  opacity: 0.5;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #b7850b 25%, #707090);
}

#projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: row
}

#projects-wrapper div {
  display: flex;
  flex-direction: row;
  margin: 8px 0
}

#projects-wrapper div a {
  width: auto;
  margin: auto;
  text-align: center
}

#projects h2 {
  margin: 8px auto;
  text-align: center
}
#projects h3 {
  margin: 8px auto;
  text-align: center
}

.project-tile {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 12px auto;
  height: 256px;
  max-width: 256px;
  border-radius: 4px;
  border: 1px #555555 solid;
  box-shadow: 0 0 16px #777777;
  background-color: #DFDFDF
}

.project-tile img {
  border-radius: 4px;
  border: 2px #999999 solid
}

.project-screenshot {
  height: 180px;
  width: 240px;
  margin: 0 auto;
  display: inline-block
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #707090 25%, #445566)
}

#contact h4 {
  text-align: center
}

#contact div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

#contact article {
  padding: 8px;
  margin: 12px;
  height: 144px;
  width: 144px;
  border-radius: 4px;
  border: 1px #555555 solid;
  box-shadow: 0 0 16px #777777;
  background-color: #DFDFDF
}

#about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(to bottom, #445566 25%, #171717)
}

#about div {
  margin: 0 auto;
}

#about p {
  color: #DFDFDF;
  width: 90%;
  max-width: 720px;
  text-align: justify;
  margin: 0 auto 24px auto
}

#about a:link,
#about a:visited {
  color: #DFDFDF;
  text-decoration: underline;
  transition: color 0.5s
}

#about a:hover,
#about a:active {
  color: #BFBFBF
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  color: #DFDFDF;
  background: #222222
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none
}

footer ul li {
  display: flex;
  margin: 8px
}

footer a:link,
footer a:visited {
  flex: 1 0 auto;
  color: #999999;
  transition: all 0.25s
}

footer a:hover,
footer a:active {
  color: #DDDDDD
}

@media screen and (max-width: 360px) {
  main {
    background-color: azure
  }

  #navbar li {
    width: 96px;
    font-size: 10px
  }

  #skills ul {
    margin: 0 8px;
    padding: 8px;
    min-height: 96px;
    min-width: 144px;
    font-size: 12px
  }
}

@media screen and (max-width: 600px) {
  #projects-wrapper {
    flex-direction: column
  }
}