* {
  margin: 0;
  padding: 0
}

html {
  scroll-behavior: smooth;
  font-family: Futura, Roboto, Nunito, sans-serif
}

a:link,
a:visited {
  color: #373737;
  text-decoration: none;
  transition: color 0.5s
}

a:hover,
a:active {
  color: #777777
}

#navbar {
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #737373;
  list-style: none;
  padding: 8px
}

#navbar ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px;
  width: 128px;
  height: 24px;
  color: #373737;
  background: silver;
  text-align: center
}
#navbar a {
  flex: 1 0 auto
}

section {
  min-height: 100vh
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #778899 25%, #809070)
}

#welcome-section img {
  margin: 16px;
  height: auto;
  max-width: 240px;
  border: 2px navy solid;
  border-radius: 8px;
  overflow: hidden;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  background: linear-gradient(to bottom, #809070 25%, #b7850b)
}

#skills ul {
  margin: 0 16px;
  padding: 16px;
  min-height: 144px;
  min-width: 192px;
  background-color: #DFDFDF;
  border: 2px #777777 solid;
  border-radius: 12px;
  list-style: none;
  opacity: 0.5;
}

#projects {
  background: linear-gradient(to bottom, #b7850b 25%, #707090);
  padding-top: 64px;
}

#projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: row
}

#projects h2 {
  margin: 8px auto;
  text-align: center
}
#projects h3 {
  margin: 8px auto;
  text-align: center
}

.project-tile {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 12px auto;
  height: 240px;
  max-width: 256px;
  border-radius: 4px;
  border: 1px #555555 solid;
  box-shadow: 0 0 16px #777777;
  background-color: #999999
}

.project-screenshot {
  height: 180px;
  width: 240px;
  margin: 0 auto;
  display: inline-block
}

#contact {
  background: linear-gradient(to bottom, #707090 25%, #445566)
}

#about {
  height: 90vh;
  padding: 64px 0;
  background: linear-gradient(to bottom, #445566 25%, #171717)
}

#about p {
  color: #DFDFDF;
  width: 90%;
  max-width: 720px;
  text-align: justify;
  margin: 0 auto 24px auto;
}

#about a:link,
#about a:visited {
  color: #DFDFDF;
  text-decoration: underline;
  transition: color 0.5s
}

#about a:hover,
#about a:active {
  color: #BFBFBF
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  color: #DFDFDF;
  background: darkgreen
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer ul li {
  display: flex;
  margin: 8px
}

footer ul li a {
  flex: 1 0 auto
}

@media screen and (max-width: 360px) {
  main {
    background-color: azure
  }

  #navbar li {
    font-size: 10px;
    width: 96px;
  }

  #skills ul {
    margin: 0 8px;
    padding: 8px;
    min-height: 96px;
    min-width: 144px;
    font-size: 12px;
  }
}
